@charset "utf-8";
/*
* default styles
*/
body{
  font-size:12px;
  margin:0;
  padding:0;
  text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
  margin:0;
  padding:0;
  list-style:none;
}
ol{
  float: left;
  text-decoration:none;
}
a{
  color: #000;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
img{
  vertical-align:middle;
}
textarea{
  resize: none;
}

input::-moz-placeholder {
  color: #daecbf;
}
input:-ms-input-placeholder {
  color: #daecbf;
}
input::-webkit-input-placeholder {
  color: #daecbf;
}
textarea::-moz-placeholder {
  color: #daecbf;
}
textarea:-ms-input-placeholder {
  color: #daecbf;
}
textarea::-webkit-input-placeholder {
  color: #daecbf;
}
/*
** Common style
*/
.col-fff{
  color: #fff;
}
.col-gray{
  color: gray;
}
.mar-t-12{
  margin-top: 12px;
}
.mar-b-12{
  margin-bottom: 12px;
}
.mar-b-20{
  margin-bottom: 20px;
}
.mar-b-16{
  margin-bottom: 16px;
}
.mar-t-16{
  margin-top: 16px;
}
.underline{
  display: inline-block;
  border-bottom: 3px solid #94c949;
  @media (min-width: 1200px) {
    line-height: 42px;
  }
  @media (max-width: 1199px) {
    line-height: 30px;
  }
  @media (max-width: 991px) {
    line-height: 24px;
  }
  @media (max-width: 767px) {
    line-height: 16px;
  }
  @media (max-width: 479px) {
    line-height: 15px;
  }
}
/*
* specific style
*/
#header{
  .bg-container{
    background-image: url('../images/bg_logo.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .container{
    height: 100vh;
    text-align: center;
  }
  .logo{
    position: absolute;
    top: 44%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    img{
      width: 348px;
      max-width: 70%;
    }
  }
  .logo-next{
    position: absolute;
    bottom: -50px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    a{
      font-size: 18px;
      line-height: 32px;
      font-weight: bold;
      text-decoration: none;
      color: #fff;
      transition: All 0.2s ease-in-out;
      &:hover{
        color: #94c949;
      }
    }
    a:after{
      content: '';
      display: block;
      width: 3px;
      height: 50px;
      background: #94c949;
      margin: 18px auto 0;
    }
  }
}
#main{
  @media (min-width: 1200px) {
    padding: 210px 0 158px;
  }
  @media (max-width: 1199px) {
    padding: 140px 0 100px;
  }
  @media (max-width: 991px) {
    padding: 120px 0 70px;
  }
  @media (max-width: 767px) {
    padding: 100px 0 60px;
  }
  @media (max-width: 479px) {
    padding: 70px 0 50px;
  }
  .wrapper-content{
    max-width: 856px;
    width: 90%;
    margin: 0 auto;
    .tab-h2{
      font-family: "Circular-Book";
      color: #000;
      letter-spacing: 0.4px;
      @media (min-width: 1200px) {
        font-size:48px;
        line-height: 60px;
      }
      @media (max-width: 1199px) {
        font-size:30px;
        line-height: 56px;
      }
      @media (max-width: 991px) {
        font-size:24px;
        line-height: 46px;
      }
      @media (max-width: 767px) {
        font-size:18px;
        line-height: 40px;
      }
      @media (max-width: 479px) {
        font-size:16px;
        line-height: 30px;
      }
    }
    .tab-h6{
      font-family: "Circular-Book";
      color: #000;
      letter-spacing: 0.4px;
      @media (min-width: 1200px) {
        font-size: 24px;
        margin-top: 66px;
      }
      @media (max-width: 1199px) {
        font-size: 16px;
        margin-top: 40px;
      }
      @media (max-width: 991px) {
        font-size: 14px;
        margin-top: 40px;
      }
      @media (max-width: 767px) {
        font-size: 12px;
        margin-top: 30px;
      }
      @media (max-width: 479px) {
        font-size: 10px;
        margin-top: 25px;
      }
      a{
        color: #000;
        text-decoration: none;
        transition: All 0.2s ease-in-out;
        &:hover{
          color: #94c949;
        }
      }
    }
  }
}
#footer{
  background:#94c949;
  @media (min-width: 1200px) {
    padding: 120px 0 195px;
  }
  @media (max-width: 1199px) {
    padding: 140px 0 100px;
  }
  @media (max-width: 991px) {
    padding: 120px 0 80px;
  }
  @media (max-width: 767px) {
    padding: 80px 0 40px;
  }
  @media (max-width: 479px) {
    padding: 50px 0 30px;
  }
  .wrapper-footer{
    max-width: 856px;
    margin: 0 auto;
    width: 90%;
  }
  .wrapper-intro{
    padding-bottom: 30px;
    .intro{
      line-height: 32px;
      color: #fff;
      padding-bottom: 20px;
      font-family: "Circular-Book";
      letter-spacing: 0.4px;
      @media (min-width: 1200px) {
        font-size:24px;
      }
      @media (max-width: 1199px) {
        font-size:22px;
      }
      @media (max-width: 991px) {
        font-size:20px;
      }
      @media (max-width: 767px) {
        font-size:18px;
      }
      @media (max-width: 479px) {
        font-size:16px;
      }
    }
    .detail{
      color: #fff;
      font-family: "Circular-Book";
      line-height: 26px;
      padding-bottom: 10px;
      letter-spacing: 0.4px;
      @media (min-width: 1200px) {
        font-size:18px;
      }
      @media (max-width: 1199px) {
        font-size:16px;
      }
      @media (max-width: 991px) {
        font-size:14px;
      }
      @media (max-width: 767px) {
        font-size:12px;
      }
      @media (max-width: 479px) {
        font-size:11px;
      }
    }
  }
  form{
    .input{
      width: 100%;
      height: 40px;
      padding: 2px 12px;
      font-size: 14px;
      color: #fff;
      border: 2px solid #fff;
      background: #94c949;
      outline:none;
    }
    .select{
      color: #daecbf;
      -webkit-appearance: none;
      appearance: none;
      .opts{
        color: #fff;
      }
    }
    .users{
      @media(max-width: 767px) {
        margin-bottom: 16px;
      }
    }
    .pull-down{
      background-image: url("../images/pull_down.png");
      width: 13px;
      height: 12px;
      position: absolute;
      right: 32px;
      top: 14px;
    }
    .area{
      height: 92px;
      font-size: 16px;
      line-height: 35px;
    }
    input[type="checkbox"] + label::before{
      content: "\00a0";
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 2px solid #fff;
      margin-right: 12px;
    }
    input[type="checkbox"]:checked+label::before{
      content:"\2713";
      color:#fff;
    }
    .focus{
      transition: All 0.2s ease-in-out;
    }
    .focus:hover, .focus:focus{
      box-shadow: 0px 0px 6px #fff;
    }
    #protocol{
      display: none;
    }
    .checkone{
      font-size: 16px;
      line-height: 22px;
      color: #fff;
    }
    .agree{
      color: #fff;
      text-decoration: underline;
      transition: All 0.2s ease-in-out;
    }
    .agree:hover{
      color: #000;
    }
    .sub{
      width: 115px;
      transition: All 0.2s ease-in-out;
    }
    .sub:hover{
      background: #fff;
      color: #94c949;
    }
  }
  .bottom{
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
    .flex{
      flex: 1;
      color: #fff;
    }
    .copyright{
      font-size: 12px;
    }
    .logo-b{
      text-align: right;
      img:first-child{
        margin-right: 30px;
        @media (min-width: 1200px) {
          margin-right: 64px;
        }
      }
      @media (min-width: 479px) and (max-width: 767px) {
        img{
          width: 40%;
        }
      }
      @media (max-width: 479px) {
        img{
          width: 35%;
        }
      }
    }
  }
}