/*
* default styles
*/
body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-decoration: none; }

p, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd {
  margin: 0;
  padding: 0;
  list-style: none; }

ol {
  float: left;
  text-decoration: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  vertical-align: middle; }

textarea {
  resize: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input::-moz-placeholder {
  color: #daecbf; }

input:-ms-input-placeholder {
  color: #daecbf; }

input::-webkit-input-placeholder {
  color: #daecbf; }

textarea::-moz-placeholder {
  color: #daecbf; }

textarea:-ms-input-placeholder {
  color: #daecbf; }

textarea::-webkit-input-placeholder {
  color: #daecbf; }

/*
** Common style
*/
.col-fff {
  color: #fff; }

.mar-t-12 {
  margin-top: 12px; }

.mar-b-12 {
  margin-bottom: 12px; }

.mar-b-20 {
  margin-bottom: 20px; }

.mar-b-16 {
  margin-bottom: 16px; }

.mar-t-16 {
  margin-top: 16px; }

.underline {
  display: inline-block;
  border-bottom: 3px solid #94c949; }
  @media (max-width: 479px) {
    .underline {
      line-height: 15px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .underline {
      line-height: 16px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .underline {
      line-height: 24px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .underline {
      line-height: 30px; } }
  @media (min-width: 1200px) {
    .underline {
      line-height: 48px; } }

/*
* specific style
*/
#header .bg-container {
  background-image: url("../images/bg-logo.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

#header .container {
  height: 100vh;
  text-align: center; }

#header .logo-p {
  position: absolute;
  top: 44%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% - 30px); }
  #header .logo-p img {
    width: 348px;
    max-width: 70%; }

#header .logo-next {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% - 30px); }
  #header .logo-next a {
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #fff; }
    #header .logo-next a:hover {
      color: #94c949;
      transition: All 0.3s ease-in-out;
      -webkit-transition: All 0.3s ease-in-out;
      -moz-transition: All 0.3s ease-in-out;
      -o-transition: All 0.3s ease-in-out; }
  #header .logo-next a:after {
    content: '';
    display: block;
    width: 3px;
    height: 50px;
    background: #94c949;
    margin: 18px auto 0; }

@media (max-width: 479px) {
  #main {
    padding: 70px 0 50px; } }

@media (min-width: 480px) and (max-width: 767px) {
  #main {
    padding: 100px 0 60px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #main {
    padding: 120px 0 70px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  #main {
    padding: 140px 0 100px; } }

@media (min-width: 1200px) {
  #main {
    padding: 184px 0 122px; } }

#main .wrapper-content {
  max-width: 856px;
  width: 90%;
  margin: 0 auto; }
  #main .wrapper-content .tab-h2 {
    font-family: "Circular Book";
    color: #000; }
    @media (max-width: 479px) {
      #main .wrapper-content .tab-h2 {
        font-size: 16px;
        line-height: 30px; } }
    @media (min-width: 480px) and (max-width: 767px) {
      #main .wrapper-content .tab-h2 {
        font-size: 18px;
        line-height: 40px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      #main .wrapper-content .tab-h2 {
        font-size: 24px;
        line-height: 46px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      #main .wrapper-content .tab-h2 {
        font-size: 30px;
        line-height: 56px; } }
    @media (min-width: 1200px) {
      #main .wrapper-content .tab-h2 {
        font-size: 48px;
        line-height: 60px; } }
  #main .wrapper-content .tab-h6 {
    font-family: "Circular Book";
    color: #000; }
    @media (max-width: 479px) {
      #main .wrapper-content .tab-h6 {
        font-size: 10px;
        margin-top: 25px; } }
    @media (min-width: 480px) and (max-width: 767px) {
      #main .wrapper-content .tab-h6 {
        font-size: 12px;
        margin-top: 30px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      #main .wrapper-content .tab-h6 {
        font-size: 14px;
        margin-top: 40px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      #main .wrapper-content .tab-h6 {
        font-size: 16px;
        margin-top: 40px; } }
    @media (min-width: 1200px) {
      #main .wrapper-content .tab-h6 {
        font-size: 24px;
        margin-top: 70px; } }
    #main .wrapper-content .tab-h6 a:hover {
      color: #94c949;
      transition: All 0.3s ease-in-out;
      -webkit-transition: All 0.3s ease-in-out;
      -moz-transition: All 0.3s ease-in-out;
      -o-transition: All 0.3s ease-in-out; }

#footer {
  background: #94c949; }
  @media (max-width: 479px) {
    #footer {
      padding: 50px 0 30px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    #footer {
      padding: 80px 0 40px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #footer {
      padding: 120px 0 80px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #footer {
      padding: 140px 0 100px; } }
  @media (min-width: 1200px) {
    #footer {
      padding: 210px 0 138px; } }
  #footer .wrapper-footer {
    max-width: 856px;
    margin: 0 auto;
    width: 90%; }
  #footer .wrapper-intro {
    padding-bottom: 30px; }
    #footer .wrapper-intro .intro {
      line-height: 32px;
      color: #fff;
      padding-bottom: 20px;
      font-family: "Circular Book"; }
      @media (max-width: 479px) {
        #footer .wrapper-intro .intro {
          font-size: 16px; } }
      @media (min-width: 480px) and (max-width: 767px) {
        #footer .wrapper-intro .intro {
          font-size: 18px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        #footer .wrapper-intro .intro {
          font-size: 20px; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        #footer .wrapper-intro .intro {
          font-size: 22px; } }
      @media (min-width: 1200px) {
        #footer .wrapper-intro .intro {
          font-size: 24px; } }
    #footer .wrapper-intro .detail {
      color: #fff;
      font-family: "Circular Book";
      line-height: 26px;
      padding-bottom: 10px; }
      @media (max-width: 479px) {
        #footer .wrapper-intro .detail {
          font-size: 11px; } }
      @media (min-width: 480px) and (max-width: 767px) {
        #footer .wrapper-intro .detail {
          font-size: 12px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        #footer .wrapper-intro .detail {
          font-size: 14px; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        #footer .wrapper-intro .detail {
          font-size: 16px; } }
      @media (min-width: 1200px) {
        #footer .wrapper-intro .detail {
          font-size: 18px; } }
  #footer form .input {
    width: 100%;
    height: 40px;
    padding: 2px 12px;
    font-size: 14px;
    color: #fff;
    border: 2px solid #fff;
    background: #94c949;
    outline: none; }
  @media (max-width: 767px) {
    #footer form .users {
      margin-bottom: 16px; } }
  #footer form .pull-down {
    background-image: url("../images/pull-down.png");
    width: 13px;
    height: 12px;
    position: absolute;
    right: 32px;
    top: 14px; }
  #footer form .area {
    height: 92px;
    font-size: 16px;
    line-height: 35px; }
  #footer form input[type="checkbox"] + label::before {
    content: "\00a0";
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #fff;
    margin-right: 12px; }
  #footer form input[type="checkbox"]:checked + label::before {
    content: "\2713";
    color: #fff; }
  #footer form #protocol {
    display: none; }
  #footer form .checkone {
    font-size: 16px;
    line-height: 22px;
    color: #fff; }
  #footer form .agree {
    color: #fff;
    text-decoration: underline; }
  #footer form .agree:hover {
    color: #337ab7;
    transition: All 0.2s ease-in-out;
    -webkit-transition: All 0.2s ease-in-out;
    -moz-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out; }
  #footer form .sub {
    width: 115px; }
  #footer form .sub:hover {
    background: #fff;
    color: #94c949;
    transition: All 0.2s ease-in-out;
    -webkit-transition: All 0.2s ease-in-out;
    -moz-transition: All 0.2s ease-in-out;
    -o-transition: All 0.2s ease-in-out; }
  #footer .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-top: 10px; }
    #footer .bottom .flex {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      color: #fff; }
    #footer .bottom .copyright {
      font-size: 12px; }
    #footer .bottom .logo-b {
      text-align: right; }
      #footer .bottom .logo-b img:first-child {
        margin-right: 30px; }
        @media (min-width: 1200px) {
          #footer .bottom .logo-b img:first-child {
            margin-right: 64px; } }
      @media (max-width: 479px) {
        #footer .bottom .logo-b img {
          width: 35%; } }
      @media (min-width: 480px) and (max-width: 767px) {
        #footer .bottom .logo-b img {
          width: 40%; } }
